<section>
  <div class="form-box">
      <div class="form-value">
          <form >
              <h2>Register</h2>
              <div class="inputbox">
                  <select id="admin/user" class="admin-user" formControlName="type" required>
                      <option value=""></option>
                      <option value="admin">Admin</option>
                      <option value="user">User</option>
                  </select>
                  <label for="">Admin/user</label>
              </div>
              <div class="inputbox">
                  <input type="email" required id="email" formControlName="email">
                  <label for="">Email</label>
              </div>
              <div class="inputbox">
                  <input type="text" class="user" required id="username" formControlName="username">
                  <label for="">UserName</label>
              </div>
              <div class="inputbox">
                  <input type="tel" class="mobilenumber" required id="mobileNumber" formControlName="phone">
                  <label for="">MobileNumber</label>
              </div>
              <div class="inputbox">
                  <input type="password" required id="password" formControlName="password">
                  <label for="">Password</label>
              </div>
              <div class="inputbox">
                  <input type="password" required id="confirmPassword" formControlName="confirmpassword">
                  <label for="">Confirm Password</label>
              </div>
              <button id="submitButton">Register</button>
              <div class="register">
                  <p>Already a User?<a routerLink="/login" id="signinLink"> Login</a></p>
              </div>
          </form>
      </div>
  </div>
</section>