
.card-body{
  font-size: 30px;
}
.card-head{
  font-size: 30px;
}
.table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
.th, td {
  padding: 10px;
  text-align: center;
}
.outer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  background-color: #f8f6f6;


  h1 {
    font-size: 50px;
    color: #333333;
    margin: 0;
  }
}
